@using Microsoft.AspNetCore.Http
@using System.Security.Claims

@inject IHttpContextAccessor Accessor
@{
    string? email = Accessor.HttpContext.Session.GetString("emailUsuarioNoEncontrado");
    // Obtener nombre y rol del usuario desde la sesión
    string usuarioNombres = Accessor.HttpContext.Session.GetString("Usuario_NombresUsuario") ?? "Invitado";
    string usuarioRol = Accessor.HttpContext.Session.GetString("Usuario_Rol") ?? "Sin Rol";

    // Obtener los roles del usuario
    var roles = User.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).ToList();
    var datos = ViewBag.equipos as List<SERVICE_DESK.Models.equipo>;


}

@if (usuarioNombres != "Invitado")
{
    ViewBag.Title = "Usuarios ";
    Layout = "~/Views/Shared/_Plantillaticketera.cshtml";
}
else
{
    ViewBag.Title = "Sin Autorización";
    Layout = "~/Views/Shared/Error.cshtml";
}

@{
    ViewData["Title"] = "Listado de Usuarios";
    var tickets = ViewBag.Tickets as List<SERVICE_DESK.Models.Ticket>;
}

<style>
    .color_Caja_correo {
        background-color: #158c8c !important;
        color: #fff !important;
    }

</style>


<div class="d-none">
    @if (TempData["mensaje"] != null)
    {
        <div class="@TempData["alerta"]" role="alert">
            @TempData["mensaje"]
        </div>
    }
</div>

<h2>Listado General de Usuarios</h2>







<div class="row">


    <div class="col-md-12 col-lg-12 col-xl-12">
        <!--tamaño-->
        <div class="main-container container-fluid">
            <div class="row row-sm">

                <!-- CONTAINER -->
                <div class="main-container container-fluid">
                    <div class="row row-sm">
                        <div class="col-lg-12">
                            <div class="card">


                                <div class="card-header d-flex justify-content-between">
                                    <h4 class="fw-bolder">Listado Personal de Tickets</h4>


                                    <a href="@Url.Action("Crearequipo", "MantenimientoEquipo")" class="boton boton-warning col-auto mb-3 fw-bolder fs-6">
                                        <span><i class=" fa fa-file-text fs-6 p-1"></i></span>

                                        crear equipo
                                    </a>

                                </div>








                                <div class="card-body">
                                    <div class="table-responsive">

                                        <table class="table table-xs table-hover" id="dataTableTickets">
                                            <thead>
                                                <tr>
                                                    <th>idEquipo</th>
                                                    <th>descripcion</th>
                                                    <th>operaciones</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.equipos != null)
                                                {
                                                    @foreach (var lista in ViewBag.equipos)
                                                    {
                                                        <tr>
                                                            <td class="td-ellipsis td-sistema" title="@lista.idEquipo">
                                                                <h6 class="fw-bold"><i class="zmdi zmdi-ticket-star"></i>[ @lista.idEquipo]</h6>
                                                            </td>
                                                         
                                                            <td>
                                                                @if (lista.descripcion != null)
                                                                {
                                                                    @lista.descripcion
                                                                }
                                                                else
                                                                {
                                                                    <span>N/A</span>
                                                                }
                                                            </td>
                                                           
                                                         
                                                         
                                                            <td class="text-center td-sistema">
                                                                @{
                                                                    // Construir la URL manualmente
                                                                    string eliminar = $"/MantenimientoEquipo/EliminarDatosequipo?id={lista.idEquipo}";
                                                                    string actualizar = $"/MantenimientoEquipo/actualizarequipo?id={lista.idEquipo}";
                                                                }
                                                                <a href="@eliminar" type="button" class="boton boton-danger" style="max-height:35px!important;">
                                                                    Eliminar
                                                                </a>

                                                                <a href="@actualizar" type="button" class="boton boton-black" style="max-height:35px!important;">
                                                                    actualizar
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="extralargemodal" tabindex="-1" role="dialog" style="margin-top:0!important">
    <div class="modal-dialog modal-xl modal-dialog-centered col-md-10 bg-white" role="document">
        <div class="modal-content bg-white">
            <div class="modal-header b d-flex justify-content-end">
                <button class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>
                <!--cuerpo del formulario-->
                <div class="modal-body bg-white" style="margin-top:0!important;">
                    <div class="cuerpo col col-lg-12 bg-white">
                        <!-- Inputs donde se mostrarán los datos del usuario -->
                        <input type="text" class="form-control" id="idUsuario" placeholder="ID Usuario" required>
                        <input type="text" class="form-control" id="nombreUsuario" placeholder="Nombre" required>
                        <!-- Agrega más inputs según sea necesario -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







@section Scripts {
    <a href="~/Adjuntos/BundleConfig.cs"></a>

    <script src="~/assets/js/summernote_es_es.js"></script>
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>
    <script src="~/assets/js/Script.js"></script>
    <script src="~/assets/js/sweet-alert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>



    <script>
        $(document).ready(function () {
            if ($.fn.DataTable.isDataTable('#dataTableTickets')) {
                $('#dataTableTickets').DataTable().destroy();
            }
            $('#dataTableTickets').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay Tickets",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Tickets",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Tickets",
                    "infoFiltered": "(Filtrado de _MAX_ total de Tickets)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Tickets",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontrarón tickets",
                    "paginate": {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });

    </script>

    <script>
        $(document).ready(function () {
            var mensaje = "@(TempData["mensaje"])";
            // Verifica si TempData["mensaje"] no es nulo ni está vacío
            if (mensaje && mensaje.trim() !== "") {
                notif({
                    msg: mensaje,
                    type: "success",
                    opacity: 1,
                    autohide: true
                });
            }




        });
    </script>
}